* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
}

.gradient {
    background: linear-gradient(to top, #121212 94.5%, white);
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #000000;
}

.logotipo {
    width: 132px;
    height: 36px;
}

.navegación {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    list-style-type: none;
}

.elemento {
    font-size: 16px;
    padding: 28px 17px;
    background: none;
    border: none;
    text-decoration: none;
    font-weight: bold;
    color: #D9DADC;
}

.separador{
    font-size: 16px;
    margin: 32px 17px;
    background: none;
    border: none;
    text-decoration: none;
    font-weight: bold
}

.elemento:hover {
    color: #1ED760;
    cursor: pointer;
}

.title1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px; 
    margin: 0px 180px 0px 180px;
}

.publicidad {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    padding: 56px 32px;
    margin-right: 30px;
}

.mascota {
    width: 300px;
    height: auto;
    margin-right: 30px;
}

.promoción1 {
    font-size: 48px;
    font-weight: bold;
}

.promoción2 {
    font-size: 16px;
    margin: 15px 0px 13.2px 0px;
}

.botones {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 0px 24px 0px;
}

.probar {
    background-color: #FFD2D7;
    color: #000000;
    border: 2px solid #FFD2D7;
    min-width: 265px;
    min-height: 52px;
}

.probar:hover {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.planes {
    background-color: #000000;
    border: 1px solid #FFD2D7;
    min-width: 188px;
    min-height: 50px;
}

.probar, .planes {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
    border-radius: 5rem;
    padding: 15px 15px;
}

.probar:hover,
.planes:hover {
    transform: scale(1.1);
}

.descripción {
    font-size: 11px;
}

.ventajas {
    margin: 0px 77px;
    padding-bottom: 75px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.title2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.promoción3 {
    font-size: 40px;
    font-weight: bold;
}

.promoción4 {
    font-size: 24px;
    text-align: center;
    margin: 8px 0px 24px;
}

.tabla {
    border-collapse: collapse;
    font-size: 16px;
}

tr {
    border-bottom: 1px solid #ffffff;
}

.fila1 {
    text-align: left;
}

.celda {
    text-align: center;
    font-weight: normal;
}

.column1{
    text-align: left;
    width: 192px;
    padding: 16px 10px;
}

.column2,
.column3 {
    width: 129px;
    padding: 16px 10px;
}

.sp {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 16px; 
    height: 15px; 
    vertical-align: middle; 
    margin-right: 5px;
}

.linea {
    width: 22px;
    height: 3px;
}

.beneficio1 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 131px;
}

.beneficio {
    display: inline-block;
    position: relative;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    line-height: 1.6;
}

.beneficio::after {
    content: attr(data-bocadillo);
    position: absolute;
    top: 25%;  
    left: 180%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    font-size: 13px;
    padding: 8px 12px;
    border-radius: 8px;
    white-space: pre-wrap;
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.3s ease;
}

.beneficio:hover::after {
    opacity: 1;
}

.fila:hover th:nth-child(1),
.fila:hover td:nth-child(2) {
    background-color: #1F1F1F; 
}

.fila:hover td:nth-child(3) {
    background-color: #FFFFFF24; 
}

.contenedor2 {
    margin: 0px 55px;
    padding: 35px 24px 0px; 
}

.title3{
    font-size: 40px;
    text-align: center;
}

.title4{
    font-size: 16px;
    text-align: center;
    margin: 16px 0px 32px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.card {
    margin: 0px 8px 0px 0px;
}

.paypal {
    background-color: #ffffff;
    border: 2px solid #D9DADC;
    border-radius: 5px;
}

.card, .paypal {
    width: 53px;
    height: 38px;
}

.contenedor3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 48px 0px;
    padding: 0px 32px;
}

.title5 {
    font-size: 32px;
    text-align: center;
    height: 88px;
}

.checklist {
    justify-content: center;
    margin: 16px 0px;
    padding-left: 40px;
}

.item {
    display: flex;
    flex-direction: row;
}

.check {
    width: 11px;
    height: 22px;
}

.checkdescription {
    font-size: 16px;
    margin-left: 20px;
}

.cajones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 179px;
    padding: 0px 24px;
    gap: 30px;
}

/*cajón 1*/
.cajón1, .cajón2, .cajón3, .cajón4 {
    border: hidden;
    border-radius: 10px;
    background-color: #242424;
    width: 352px;
    min-width: 352px;
    height: 482px;
}

.interiorcajón {
    padding: 0px 16px 0px 16px;
}

.promo1 {
    border: hidden;
    background-color: #FFD2D7;
    color: black;
    width: 202px;
    height: 29px;
    text-align: center;
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px 0px 10px 0px;
    margin-bottom: 30px;
}

.logopremium {
    display: flex;
}

.logo2 {
    width: 25px;
    height: 22px;
    margin-right: 4px;
}

.individual {
    font-size: 32px;
    font-weight: bold;
    color: #FFD2D7;
    margin: 10px 0px 10px;
}

.p1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.p2 {
    font-size: 14px;
    color: #A7A7A7;
}

hr {
    height: 1px;
    color: #2A2A2A;
    margin-top: 16px;
}

.listacajón {
    padding: 20px 16px;
    height: 128px;
    margin-bottom: 10px;
}

.boton1 {
    display: block;
    background-color: #FFD2D7;
    border-radius: 5rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #FFD2D7;
    padding: 16px 33px;
    margin: 20px 10px;
}

.p3 {
    margin-top: 22px;
    font-size: 12px;
    color: #A7A7A7;
    text-align: center;
}

span {
    width: 65px;
    height: 22px;
    padding-top: 4px;
}

/*cajon2*/
.promo2 {
    border: hidden;
    background-color: #C4B1D4;
    color: black;
    width: 182px;
    height: 29px;
    text-align: center;
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px 0px 10px 0px;
    margin-bottom: 30px;
}

.estudiantes {
    font-size: 32px;
    font-weight: bold;
    color: #C4B1D4;
    margin: 10px 0px 10px;
}

.boton2 {
    display: block;
    background-color: #C4B1D4;
    border-radius: 5rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border: hidden;
    padding: 16px 43px;
    margin: 20px 10px;
}

/*cajon3*/
.interiorcajón3 {
    padding: 17px 16px 0px 16px;
}

.duo {
    font-size: 32px;
    font-weight: bold;
    color: #FFC862;
    margin: 10px 0px 10px;
}

.barra {
    margin: 50px 0px 30px;
}

.boton3 {
    display: block;
    background-color: #FFC862;
    border-radius: 5rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border: hidden;
    padding: 16px 67px;
    margin: 20px 10px;
}

/*cajón4*/
.familiar {
    font-size: 32px;
    font-weight: bold;
    color: #A5BBD1;
    margin: 10px 0px 10px;
}

.listacajón2 {
    padding: 20px 16px;
    height: 128px;
    margin-bottom: 70px;
}

.boton4 {
    display: block;
    background-color: #A5BBD1;
    border-radius: 5rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border: hidden;
    padding: 16px 52px;
    margin: 60px 10px 20px;
}

.boton1:hover,
.boton2:hover,
.boton3:hover,
.boton4:hover {
    transform: scale(1.1);
}

.cons:hover {
    font-weight: bold;
}

.preguntas {
    margin: 0px 241px;
    padding: 75px 0px 64px;
}

.dudas {
    text-align: center;
}

.title6 {
    font-size: 32px;
}

.p4 {
    margin: 16px 0px;
}

.p5 {
    margin-bottom: 16px;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid #2A2A2A;
    margin: 2px 0px 0px;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
}

summary:hover {
    background-color: #2A2A2A;
    cursor: pointer;
    text-decoration: underline;
}

details[open] summary {
    background-color: #2A2A2A; 
}

.flecha {
    margin-left: 10px; 
    transition: transform 0.3s; 
    display: inline-block; 
    vertical-align: middle; 
    width: 20px;
}

details[open] .flecha {
    transform: rotate(180deg); 
}

.sinlinea {
    text-decoration: none;
}

.p6 {
    background-color: #1F1F1F;
    font-size: 16px;
    padding: 15px 32px 32px;
}

footer {
    background-color: black;
    padding: 80px 0px 50px;
    height: auto;
    overflow-x: hidden;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 241px;
}

.logotipo2 {
    padding: 0px 15px;
}

.listas {
    display: flex;
    flex-direction: column;
}

.footer-column {
    list-style: none;
    padding: 0px 15px;
    font-weight: bold;
}

.titulosf {
    font-size: 12px;
    color: #919496;
    margin: 20px 0px;
}

.enlaces1 {
    display: flex;
    flex: 1;
    font-size: 16px;
    text-decoration: none;
    padding: 3px 0px 15px; 
}

.enlaces1:hover {
    color: #1ED760;
    cursor: pointer;
}

.redesSociales {
    margin: 0px 15px 0px 183px;
}

.footer-iconos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    padding-top: 20px;
    gap: 15px;
}

.iconos {
    background-color: #222326;
    border-radius: 50%;
    padding: 15px 15px;
}

.lenguaje {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 41px;
    margin: 0px 241px;
    font-size: 12px;
    color: #919496;
    text-decoration: none;
    gap: 8px;
    padding: 0px 12px;
}

.lenguaje:hover {
    color: #1ED760;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 241px;
    font-size: 12px;
    height: 41px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 850px;
}

.footer-enlaces {
    color: #919496;
    text-decoration: none;
    padding: 12px 0px;
}

.footer-enlaces:hover {
    color: #1ED760;
    cursor: pointer;
}

.derechos {
    color: #919496;
    margin-left: 20px;
}

@media screen and (max-width:476px) {
    .publicidad {
        order: 2; 
        width: 300px;
    }

    .imagen {
        order: 1; 
        position: relative; 
        z-index: 1;
    }

    .mascota {
        width: 100px;
        transition: width 0.3s ease;
    }

    .title5 {
        margin-bottom: 150px;
    }
}
   
        
@media screen and (min-width:476px) {
    .publicidad {
        order: 2; 
        width: 300px;
    }

    .imagen {
        order: 1; 
        position: relative; 
        z-index: 1; 
    }

    .mascota {
        width: 200px;
        transition: width 0.3s ease;
    }

    .contenedor3 {
        flex-direction: row;
    }
}

@media screen and (min-width:768px) {
    .mascota {
        width: 700px;
        margin-right: 30px;
        transition: width 0.3s ease;
    }

    .publicidad {
        width: 300px;
    }

    .banner {
        justify-content: center;
        gap: 50px;
    }

    .contenedor3 {
        flex-direction: row;
    }

    .listas {
        flex-direction: row;
    }

    .footer-list {
        flex-direction: row;
        gap: 20px;
    }
}

@media screen and (min-width:1024px) {
    .publicidad {
        order: 1; 
        
    }

    .imagen {
        order: 2; 
        position: relative; 
        z-index: 2; 
    }


    .mascota {
        width: 300px;
    }

    .publicidad {
        width: 615px;
    }
    .banner {
        justify-content: center;
        gap: 100px;
    }

    .title1 {
        flex-direction: row;
    }
}

@media screen and (min-width:1280px) {
    .banner {
        justify-content: center;
        gap: 360px;
    }

    .mascota {
        width: 300px;
        height: auto;
        margin-right: 200px;
    }

    .planes {
        margin-left: 15px;
    }

    .title1 {
        flex-direction: row;
    }

    .contenedor3 {
        flex-direction: row;
    }

    .botones {
        flex-direction: row;
    }

    .contenedor3 {
        flex-direction: row;
    }

    .footer-content {
        flex-direction: row;
    }
}