.probar {
    border: 2px solid black;
    border-radius: 1rem;
    padding: 5px;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0, 15px;
    background-color: #000000;
}

.logotipo {
    margin-left: 50px;
}

.menú {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
    color: #D9DADC;
}

.elemento {
    margin-right: 20px;
    font-size: 30px;
    margin-right: 50px;
}

.logotipo {
    width: 220px;
    height: 60px;
}